@import "reset.css";
@tailwind components;
@tailwind utilities;


.SenditFancy {
    font-family: "Segoe UI", sans-serif;
    background-color: white;
    margin:0;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-direction: column;
}

.main {
    height: 100%;
    width: 100%;
}

.homePage {
    background-image: url("../images/wallpattern.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.intro-image {
    background-image: url("../images/wallpattern.png");
}

.countDownTimer {
    width: 100%;
    background-color: white;
    margin: auto;
    text-align: center;
}

.createBoulderPage {
    padding: 4em;
    background-image: url("../images/colorful.jpg");
}